.angular-google-map-container {
  height: 100vh;
  width: 100%;
}

html, body, #map-canvas { 
  bottom: 0;
  display: block;
  height: 100vh;
  left: 0;
  margin-top: 17px;
  padding: 0;
}

#search-panel {
  margin-top: 160px;
}

.income-box {
  width:46%;
}

.hyphen-box {
  width:3%;
  margin-left:-4%;
  margin-top:2%;
}

.space-bot-10 {
  margin-bottom:10px;
}

.space-bot-50 {
  margin-bottom:50px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left  1. */
  width: 401px;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
 #target {
  width: 345px;
}

#property-panel {
  padding-top: 30px;
  height: 100vh;
  overflow: auto;
}

.search-summary {
  margin-bottom: 30px;
  padding: 0px;
}

.property-detail-wrapper {
  background: rgba(177, 183, 189, 0.3);
  margin-bottom: 24px;
  padding: 0px;
}

.property-image {
  height: 200px;
  width: 100%;
}

.property-detail {
  overflow: auto;
  height: 120px;
  padding: 10px;
}

.property-name {
  text-align: center;
}

.property-label {
  font-weight: bold;
}

.property-description {
  overflow: auto;
}

.search-summary {
  padding: 0;
}

.option-buttons {
  padding: 0;
}

.option-buttons .btn {
  width: 98%;
}

.back-button {
  font-size: 13px;
  height: 22px;
  margin-bottom: 6px;
  padding-top: 0;
  width: 100%;
}

